<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->
    <title>Replace this with your site's name</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <!-- replace this image with your logo or pfp -->
            <img src="http://img.dummy-image-generator.com/abstract/dummy-150x150-Circus.jpg" alt="site logo">
        </div>
        <div class="text"></div>
        <div class="footer">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</body>
</html>