<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->
    <title>Replace this with your site's name</title>
</head>
<body>
    <div class="container">
        <!-- replace this image with your logo or pfp -->
        <img id="logo" src="../sample-face.png" alt="site logo">
        <div class="bio">
            <h1>Hi! I'm Name Nameson!</h1>
            <p>Write your short bio here! Example: I'm a person who does things! My pronouns are x/y. I like stuff, I have done things.</p>
        </div>
        <div class="text">
            <br style="clear: both;">
            <div class="list-block">
                <div class="project-list">
                    <p>I'm currently working on:</p>
                    <ul>
                        <li>Projcet A</li>
                        <li>Projcet B</li>
                        <li>Projcet C</li>
                    </ul>
                </div>
                <div class="project-list">
                    <p>I'm currently learning:</p>
                    <ul>
                        <li>Subject A</li>
                        <li>Subject B</li>
                        <li>Subject C</li>
                    </ul>
                </div>
                <div class="contact-list">
                    <p>Contact me:</p>
                    <ul>
                        <li><a href="replace this text with a url">Facebook</a></li>
                        <li><a href="replace this text with a url">Twitter</a></li>
                        <li><a href="replace this text with a url">Mastodon</a></li>
                        <li><a href="replace this text with a url">Github</a></li>
                        <li><a href="replace this text with a url">Email</a></li>
                    </ul>
                </div>
                <!-- .project-list>p+ul>li*3 -->
            </div>
            <h2>Other stuff I want to say</h2>
            <p>Replace all of the following text with whatever you want!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias similique quis eaque vel, enim molestias? Eius pariatur eveniet esse perspiciatis corrupti magni magnam laboriosam nostrum ad rem, consequuntur nemo recusandae?</p>
            <p>Nulla magnam doloribus sapiente omnis facilis aspernatur quis deserunt dolorem, eligendi consectetur ea quos minus, suscipit impedit. Consequatur, at. Iste eum officiis impedit quisquam obcaecati numquam laboriosam maxime ab aliquam.</p>
            <p>Veniam tempora ullam doloribus non quod nam, sunt labore itaque eligendi eius cupiditate eaque ad atque vitae mollitia laboriosam ratione, quia temporibus in libero repellendus porro repellat exercitationem unde. Quaerat.</p>
            <p>Perspiciatis consectetur sed aliquam perferendis, facere, eos ratione debitis quisquam facilis minus, porro veritatis nisi dolor incidunt accusamus minima iure dolorum ducimus ea tenetur blanditiis qui excepturi animi? Ex, architecto.</p>
            <p>Nobis aut doloremque ab dolorum nam quos delectus quibusdam magni? Ipsam minima aspernatur aperiam, veritatis explicabo nostrum quas ut ducimus molestias voluptatem inventore dolorem nobis incidunt repellat error! Dicta, dignissimos!</p>
            <p>Blanditiis quibusdam dignissimos odio, adipisci consequatur laboriosam eius sunt inventore nisi beatae? Soluta provident deleniti fugiat cum sint sapiente, rem tempore, velit voluptatibus, magni cupiditate facere! Tempora nesciunt rem corrupti?</p>
            <hr>
            <p>This is the SimplyFlat HTML and CSS template from the <a href="https://github.com/skylestia/make-a-website.github.io" target="_blank">make-a-website</a> tutorial project by <a href="https://skylestia.neocities.org/" target="_blank">Skylestia</a></p>
        </div>
    </div>
</body>
</html>